<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QL_Thue_Xe_Dap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ConnectionStrings" connectionString="Data Source=HOANVIRTUE\SQLEXPRESS;Initial Catalog=QL_Thue_Xe_Dap;Integrated Security=True"/>
    </connectionStrings>
    <userSettings>
        <QL_Thue_Xe_Dap.Properties.Settings>
            <setting name="TenNV" serializeAs="String">
                <value/>
            </setting>
            <setting name="MaNV" serializeAs="String">
                <value/>
            </setting>
            <setting name="Quyen" serializeAs="String">
                <value/>
            </setting>
            <setting name="TaiKhoan" serializeAs="String">
                <value/>
            </setting>
            <setting name="MatKhau" serializeAs="String">
                <value/>
            </setting>
        </QL_Thue_Xe_Dap.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
